{% extends 'todo/base.html' %}

{% load static from staticfiles %}

{% block meta_page_title %}タグ{% block meta_page_title_suffix %}{% endblock %}{% endblock %}
{% block page_title %}タグ{% block page_title_suffix %}{% endblock %}{% endblock %}

{% block contents %}
  <div class="content">
    <div class="container">
      <div class="row">

        <div class="bs-control col-sm-6 col-sm-offset-3">
          <form class="form" method="post" action="./" role="form">
            {% csrf_token %}

            {% include 'base/base_form.html' %}

            <div class="form-group">
              <div id="bm_id_color" class="well">
                <div class="row button-container color"></div>
              </div>
            </div>

            <div calss="form-group">
              <button type="submit" class="btn btn-success btn-block">登録</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <script>
    targets = {
      id_color: 1,
    };
  </script>

  <script src="{% static 'button_multiple.js' %}"></script>
{% endblock %}
